- content_for :head do
  %title Hypothes.is | The Internet, peer reviewed.


#navtainer
  = partial "nav.haml"

#pagetainer
  = partial "home.haml"
  = partial "what.haml"
  = partial "workshop.haml"
  = partial "press.haml"
  = partial "principles.haml"
  = partial "faq.haml"
  = partial "who.haml"
  = partial "contribute.haml"
  = partial "contact.haml"
  = partial "alpha.haml"
  = partial "instructions.haml"
  = partial "sandbox.haml"
  = partial "robust_anchoring.haml"

.topspacer
:javascript
  var _sf_async_config={uid:29661,domain:"hypothes.is"};
  (function(){
    function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
         (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
         "js/chartbeat.js");
      document.body.appendChild(e);
    }
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
