- content_for :head do
  %title Hypothesis Frontpage Mockup

#navtainer
  = partial "nav.haml"

#pagetainer
  = partial "home.haml"
  = partial "what.haml"
  = partial "workshop.haml"
  = partial "press.haml"
  = partial "principles.haml"
  = partial "faq.haml"
  = partial "who.haml"
  = partial "contribute.haml"
  = partial "contact.haml"
